.story-field {
    background-color: white;
    width: 100%;
    height: calc(100vh - 77px);
    overflow: hidden;

    .story-list-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        height: 100%;
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);

        .story-item {
            display: block;
            width: calc(300px);
            height: 500px;
            border: 1px solid var(--gray55);
            background-color: white;
            margin-right: 24px;

            transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);

            &.now {
                width: 500px;
                height: 700px;
            }
        }
    }
}
