#all-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px auto;
}

#feed-container {
    display: block;
    width: 600px;

    #story-field {
        position: relative;
        width: 100%;
        border-radius: 3px;
        border: 1px solid var(--gray10);
        background-color: white;
        overflow: hidden;

        #story-list {
            display: flex;
            flex-direction: row;
            margin: 16px 0;
            padding: 0 16px;
            transition: 0.7s all cubic-bezier(0.23, 1, 0.32, 1);
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            background: none;
            border-radius: 100%;
            overflow: hidden;
            outline: none;
            appearance: none;
            border: none;
            z-index: 998;

            position: absolute;
            top: calc((100% - 24px) / 2);
            box-shadow: 0 0 16px var(--gray40);
            cursor: pointer;

            &#prev {
                left: 12px;
            }

            &#next {
                right: 12px;
            }
        }
    }

    #feed-list {
        width: 100%;
    }
}

#side-container {
    margin: 24px;
    width: 300px;

    #myprofile-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;

        .img-wrapper {
            min-width: 56px;
            max-width: 56px;
            min-height: 56px;
            max-height: 56px;
            margin-right: 16px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 56px;
                height: 56px;
                object-fit: cover;
            }
        }

        .info-field {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            width: 100%;

            .account-id {
                font-weight: 700;
            }

            .account-name {
                color: var(--gray55);
            }
        }

        button {
            min-width: max-content;
            border: none;
            background: none;
            outline: none;
            appearance: none;
            cursor: pointer;

            &#account-change {
                color: var(--point);
                font-size: 12px;
                font-weight: 700;
            }
        }
    }

    #recommend-field {
        font-size: 14px;

        .title-field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 12px;

            .recommend-title {
                color: var(--gray55);
                font-weight: 700;
            }

            .recommend-all {
                font-size: 12px;
                font-weight: 700;
            }
        }

        #recommend-list {
            .recommend-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 12px;

                .img-wrapper {
                    border-radius: 100%;
                    margin-right: 12px;
                    min-width: 32px;
                    max-width: 32px;
                    min-height: 32px;
                    max-height: 32px;
                    overflow: hidden;

                    img {
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                    }
                }

                .info-field {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    width: 100%;

                    .account-id {
                        font-weight: 700;
                    }

                    .account-name {
                        font-size: 12px;
                        color: var(--gray55);
                    }
                }

                button {
                    min-width: max-content;
                    border: none;
                    background: none;
                    outline: none;
                    appearance: none;
                    cursor: pointer;

                    &#follow-btn {
                        color: var(--point);
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
