#story-page {
    width: 100%;
    height: 100%;
    background-color: var(--gray100);

    header {
        height: 100vh;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        #logo {
            color: white;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 800;
            text-align: center;
            cursor: pointer;
        }

        #close {
            border: none;
            outline: none;
            appearance: none;
            background: none;
            cursor: pointer;
        }
    }

    #story-list-field {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: calc((100% - 850px) / 2);
        width: 100%;
        color: white;

        .story-item-field {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin: 0 auto;

            &:hover {
                button#prev {
                    opacity: 1;
                }
                button#next {
                    opacity: 1;
                }
            }

            button {
                border: none;
                outline: none;
                appearance: none;
                background: none;
                cursor: pointer;
                transition: 0.1s opacity ease-in-out;
                &#prev {
                    opacity: 0.3;
                }
                &#next {
                    opacity: 0.3;
                }
            }

            .story-content {
                position: relative;
                border-radius: 10px;
                margin: 0 12px;
                width: 500px;
                height: 850px;
                overflow: hidden;

                .content-src {
                    position: relative;
                    width: auto;
                    height: 100%;

                    img {
                        position: absolute;
                        top: 0;
                        left: -50%;
                        height: 100%;
                    }
                }

                .content-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    &.nd {
                        background-color: rgba(#000, 0.5);
                    }

                    .story-timeline {
                        display: flex;
                        flex-direction: row;
                        padding: 18px 16px;
                        width: 100%;

                        .timeline-item {
                            width: 100%;
                            height: 2px;
                            background-color: red;
                            margin-right: 3px;
                            border-radius: 100%;

                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }

                    .story-user-info {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        align-items: center;
                        padding: 0 16px;

                        .ele-group {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 14px;

                            .img-wrapper {
                                width: 32px;
                                height: 32px;
                                border-radius: 100%;
                                overflow: hidden;
                                margin-right: 8px;

                                img {
                                    width: 32px;
                                    height: 32px;
                                }
                            }

                            span {
                                color: white;

                                &#username {
                                    margin-right: 8px;
                                }

                                &#upload-date {
                                    font-weight: 700;
                                    color: var(--gray55);
                                }
                            }

                            .friendonly {
                                font-size: 12px;
                                font-weight: 700;
                                background-color: var(--good);
                                padding: 6px;
                                border-radius: 4px;
                                margin-right: 14px;
                            }

                            button {
                                margin-right: 12px;

                                &:last-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    .emoji-field {
                        position: absolute;
                        bottom: 80px;
                        width: 100%;
                        font-size: 46px;

                        .emoji-content {
                            width: fit-content;
                            margin: 0 auto;

                            span {
                                display: block;
                                width: fit-content;
                                font-size: 18px;
                                font-weight: 700;
                                color: white;
                                margin: 0 auto;
                                margin-bottom: 16px;
                            }

                            .emoji-list {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr;
                            }
                        }
                    }

                    .story-footer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 16px;

                        input[type='text'] {
                            border: 1px solid white;
                            border-radius: 42px;
                            background: none;
                            outline: none;
                            appearance: none;
                            width: 100%;
                            height: 42px;
                            margin-right: 14px;

                            text-indent: 16px;
                            color: white;

                            &::placeholder {
                                color: white;
                            }
                        }

                        button {
                            &#like {
                                margin-right: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
